@model IEnumerable<Ecommerce.Models.Producto>
@{
    ViewData["Title"] = "Catalogo";
    Layout = "~/Views/Shared/_Master.cshtml";
}
<link rel="stylesheet" href="~/css/Layout/style/perzonalizado.css" />
<br/>
<h2 style="text-align: center;">Catálogo de Productos</h2>
<div class="section">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-xs-6">
                <div class="shop">
                    <div class="shop-img">
                        <img src="~/imagenes/Layout/tarjetavideo.jpg" alt="">
                    </div>
                    <div class="shop-body">
                        <h3>Tarjetas de Video<br>Colección</h3>
                        <a href="#" class="cta-btn">Ver <i class="fa fa-arrow-circle-right"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-xs-6">
                <div class="shop">
                    <div class="shop-img">
                        <img src="~/imagenes/Layout/camara.jpg" alt="">
                    </div>
                    <div class="shop-body">
                        <h3>Camaras Web<br>Colección</h3>
                        <a href="#" class="cta-btn">Ver <i class="fa fa-arrow-circle-right"></i></a>
                    </div>
                </div>
            </div>
            <!-- /shop -->
            <!-- shop -->
            <div class="col-md-4 col-xs-6">
                <div class="shop">
                    <div class="shop-img">
                        <img src="~/imagenes/Layout/pantalla.jpg" alt="">
                    </div>
                    <div class="shop-body">
                        <h3>Pantallas 4k<br>Colección</h3>
                        <a href="#" class="cta-btn">Ver <i class="fa fa-arrow-circle-right"></i></a>
                    </div>
                </div>
            </div>
            <!-- /shop -->
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</div>
<!-- /SECTION -->
<!-- SECTION -->
<div class="section">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">
            <!-- PRODUCTO -->
            @foreach (var item in Model)
            {
                var oldprice = ((double)item.Precio * 1.15).ToString("0.00");
                <div class="col-md-4">
                    <div class="product slick-slide slick-current slick-active"
                         tabindex="0" style="width: 360px;" data-slick-index="0" aria-hidder="false">

                        <div class="product-img">                      
                            <img src="@Url.Content(item.Foto)" />
                            <div class="product-label">
                                @{
                                    int des = (int)(item.Descuento * 100);
                                }
                                <span class="sale">-@des%</span>
                                <span class="new">Nuevo</span>
                            </div>
                        </div>

                        <div class="product-body">
                            <p class="product-category">CÓDIGO: @Html.DisplayFor(modelItem => item.CodProducto)</p>
                            <h3 class="product-name"><a href="#">@Html.DisplayFor(modelItem => item.Descripcion)</a></h3>
                            <h4 class="product-price">S/@Html.DisplayFor(modelItem => item.precioFinal) <del class="product-old-price">S/@Html.DisplayFor(modelItem => item.Precio)</del></h4>
                            <div class="product-rating">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                            </div>
                            <p class="product-stock">Stock: @Html.DisplayFor(modelItem => item.Stock)</p>
                        </div>
                        <div class="add-to-cart">
                            <button class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i> @Html.ActionLink("Agregar al carrito", "Agregar", new { id = item.IdProducto })</button>
                        </div>
                    </div>
                </div>
                <!-- PRODUCTO -->
            }


            </div>
    <!-- /row -->
     </div>
    <!-- /container -->
</div>
<!-- /SECTION -->