@model IEnumerable<Ecommerce.Models.Usuario>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Maintenance.cshtml";
}

<div class="cabecera">
    <label>Usuarios</label>
</div>
<br />
<div>
    <a asp-action="Create" class="btn btn-success">Nueva Usuario</a>
    <div style="float:right">
        @using (Html.BeginForm("Index", "Usuario"))
        {
            <em> Dni: </em>
            @Html.TextBox("dni")
            <button>Buscar</button>

        }
    </div>
</div>
<br />
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Dni)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Apellido)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Contraseña)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Dni)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Apellido)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    <label>*****</label>
                </td>
                <td>
                    @Html.ActionLink("Editar", "Edit", new { id = item.IdUsuario }, new { @class = "btn btn-outline-primary" }) |
                    @Html.ActionLink("Detalles", "Details", new { id = item.IdUsuario }, new { @class = "btn btn-outline-info" }) |
                    @Html.ActionLink("Eliminar", "Delete", new { id = item.IdUsuario }, new { @class = "btn btn-outline-danger" })
                </td>
            </tr>
        }
    </tbody>
</table>
