@model Ecommerce.Models.Producto

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Maintenance.cshtml";
}

<div class="cabecera">
    <label>Eliminar Producto</label>
</div>
<br />
<h3>¿Estás seguro de eliminar este producto?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IdProducto)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IdProducto)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CodProducto)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CodProducto)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Descripcion)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Precio)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Precio)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Stock)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Stock)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Garantia)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Garantia)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Descuento)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Descuento)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IdCategoria)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IdCategoria)
        </dd>
    </dl>
    <div>
        @ViewBag.mensaje
    </div>
    <form asp-action="Delete">
        <input type="submit" value="Eliminar" class="btn btn-danger" /> |
        <a asp-action="Index" class="btn btn-primary">Regresar</a>
    </form>
</div>

