@model Ecommerce.Models.Producto

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Maintenance.cshtml";
}

<div class="cabecera">
    <label>Detalle del Producto</label>
</div>
<br />
<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IdProducto)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IdProducto)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CodProducto)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CodProducto)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Descripcion)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Precio)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Precio)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Stock)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Stock)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Garantia)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Garantia)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Descuento)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Descuento)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IdCategoria)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IdCategoria)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Foto)
        </dt>
        <dd class="col-sm-10">
            <img src="@Url.Content(Model.Foto)" width="300" height="300" style="border:2px solid" />
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Editar", "Edit", new { id = Model.IdProducto }, new { @class = "btn btn-warning" }) |
    <a asp-action="Index" class="btn btn-primary">Regresar</a>
</div>
<br />
